<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Mission</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="./scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Latest News Title and Text -->
   <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>Latest Mars News</h2>
           <h4> {{mars_data.news_title }}</h4>
           <p> {{mars_data.news_paragraph}} </p>
        </div>
      </div>
   </div>

    <!-- Latest Mars Featured Image, Mars Weather and Mars Facts-->
   <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 big_box">
          <h2>Featured Mars Image</h2>
          <img src="{{mars_data.featured_image_url}}" alt="Mars featured image" />
        </div>

        <div class="col-md-4">
          <div class="row weather-box">
            <div class="col-md-12">
              <h3>Current Weather on Mars</h3>
              <p>
                {{mars_data.mars_weather | safe}}
              </p>
            </div>
          </div>

          <div class="col-md-12">
            <h3>Mars facts</h3>
            {{mars_data.mars_facts_html}}
          </div>
        </div>
    </div>
  </div>



  <!-- Mars Hemispheres-->
 <div class="container-fluid">

      <div class="jumbotron">
        <h1>Mars Hemispheres</h1>

        <div class="row">
          <div class="col-md-6">
            <img src="{{mars_data.mars_hemisphere_dict[0]['img_url']}}" alt="Mars Hemisphere1" style="width:350px;height:350px;">
            <h3>{{mars_data.mars_hemisphere_dict[0]['title']}}</h3>
          </div>
          <div class="col-md-6">
            <img src="{{mars_data.mars_hemisphere_dict[1]['img_url']}}" alt="Mars Hemisphere2" style="width:350px;height:350px;">
            <h3>{{mars_data.mars_hemisphere_dict[1]['title']}}</h3>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <img src="{{mars_data.mars_hemisphere_dict[2]['img_url']}}" alt="Mars Hemisphere1" style="width:350px;height:350px;">
            <h3>{{mars_data.mars_hemisphere_dict[2]['title']}}</h3>
          </div>
          <div class="col-md-6">
            <img src="{{mars_data.mars_hemisphere_dict[3]['img_url']}}" alt="Mars Hemisphere2" style="width:350px;height:350;">
            <h3>{{mars_data.mars_hemisphere_dict[3]['title']}}</h3>
          </div>
        </div>


      </div>
  </div>

</div>

</body>

</html>

